* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
  }

  html {
    font-size: 10px; 
}

/* nav */

.menu li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #D9F0FF;
}

.intro h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
}

.intro p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-top: 2rem;
    max-width: 60rem;
    color: #fff;
    line-height: 2.8rem;
    text-align: center;
    word-spacing: 0.2rem;
}

/* nav */

/* one */


.text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    padding-top: 2rem;
    line-height: 2.5rem;
    word-spacing: 0.1rem;
}
/* one */

/* box */
.box__text h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
}

.box__text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
    line-height: 2.5rem;
    word-break: 0.1rem;
}


.inside h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.inside p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
    padding: 2px;
    line-height: 2.5rem;
    word-break: 0.1rem;
}
/* box */

/* video mer */

.button__video {
padding-top: -12rem;

}

.video h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    color: #fff;
    max-width: 80rem;
}

.video p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #fff;
    line-height: 2.5rem;
    word-spacing: 0.1rem;
    max-width: 80rem;
    text-align: center;
    padding: 1rem;
    
}

/* video mer */

/* project */

.projects h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
    padding-top: 2rem;
}

.projects p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-bottom: 2rem; 
    line-height: 2.5rem;
    word-spacing: 0.1rem;
}

/* project */

footer p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #fff;
    
}